In [9]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [14]:
DSL_db = client.Aayushma

In [15]:
people = pd.read_csv("/Users/aayushma/Downloads/forge/DS-Launch-Training/week-2/Querious-George/Project 2 Data/People.csv")
artists = pd.read_csv("Project_2_Data/Artists.csv")
interests = pd.read_csv("Project_2_Data/Interests.csv")
majors = pd.read_csv("Project_2_Data/Majors.csv")
music = pd.read_csv("Project_2_Data/Music.csv")
towns = pd.read_csv("Project_2_Data/Towns.csv")

In [16]:
people

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [17]:
collection = DSL_db.people

In [21]:
aayushma =people.iloc[3]
aayushma

id                                                     4
first_name                                      Aayushma
last_name                                        Bastola
graduation_year                                     2023
age                                                   20
number_of_family_members                               3
fav_color                                          green
fav_animal                                      elephant
fav_tv_show                                      Fleabag
fav_movie                                        Get Out
beach_or_mtns                                  mountains
fav_icecream                                      coffee
hometown_id                                      Fairfax
major                                           Commerce
second_major                Public Policy and Leadership
minor                                                NaN
favorite_hobby_id                                Singing
second_favorite_hobby_id                          Eating
fav_artist_id                               Taylor Swift
Name: 3, dtype: object

In [36]:
majors
aayushma_major1 = majors.iloc[4]
aayushma_major1

id                                                  5
major                    Public Policy and Leadership
number_of_classes                                  37
school                                         Batten
credits                                           110
avg_start_salary                               49,380
application_based                                True
graduation_honors_gpa                             3.4
Name: 4, dtype: object

In [37]:
aayushma_major1_dict = {}
for i in range(len(aayushma_major1)):
    aayushma_major1_dict[aayushma_major1.index[i]] = str(aayushma_major1[i])

aayushma_major1_dict

{'id': '5',
 'major': 'Public Policy and Leadership',
 'number_of_classes': '37',
 'school': 'Batten',
 'credits': '110',
 'avg_start_salary': '49,380',
 'application_based': 'True',
 'graduation_honors_gpa': '3.4'}

In [38]:
aayushma_major2 = majors.iloc[5]
aayushma_major2

id                                                6
major                    Global Development Studies
number_of_classes                                34
school                            Arts and Sciences
credits                                         100
avg_start_salary                             51,774
application_based                              True
graduation_honors_gpa                           3.6
Name: 5, dtype: object

In [39]:
aayushma_major2_dict = {}
for i in range(len(aayushma_major2)):
    aayushma_major2_dict[aayushma_major2.index[i]] = str(aayushma_major2[i])

aayushma_major2_dict

{'id': '6',
 'major': 'Global Development Studies',
 'number_of_classes': '34',
 'school': 'Arts and Sciences',
 'credits': '100',
 'avg_start_salary': '51,774',
 'application_based': 'True',
 'graduation_honors_gpa': '3.6'}

In [41]:
towns
aayushma_towns = towns.iloc[5]
aayushma_towns

id                   6
town           Fairfax
county         Fairfax
state         Virginia
country            USA
population       23531
zipcode          22030
area_code          571
Name: 5, dtype: object

In [44]:
aayushma_towns_dict = {}
for i in range(len(aayushma_towns)):
    aayushma_towns_dict[aayushma_towns.index[i]]= str(aayushma_towns[i])
    
aayushma_towns_dict

{'id': '6',
 'town': 'Fairfax',
 'county': 'Fairfax',
 'state': 'Virginia',
 'country': 'USA',
 'population': '23531',
 'zipcode': '22030',
 'area_code': '571'}

In [47]:
interests

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure
5,6,Reading,Home,Morgan Freeman,2,1,Leisure
6,7,Playing guitar,Home,Jimi Hendrix,6,2,Art
7,8,Skating,Skate Park,Tony Hawk,8,9,Sport
8,9,Singing,Home,Beyonce,6,1,Art
9,10,Tennis,Tennis Court,Roger Federer,7,5,Sport
10,11,Sleeping,Home,Snorlax,2,1,Leisure

In [49]:
aayushma_interests1 = interests.iloc[8]
aayushma_interests1_dict = {}

for i in range(len(aayushma_interests1)):
    aayushma_interests1_dict[aayushma_interests1.index[i]]= str(aayushma_interests1[i])
    
aayushma_interests1_dict

{'id': '9',
 'hobbies': 'Singing',
 'location': 'Home',
 'most_famous_person': 'Beyonce',
 'skill_level_required': '6',
 'risk_factor': '1',
 'category': 'Art'}

In [51]:
aayushma_interests2 = interests.iloc[3]
aayushma_interests2_dict = {}

for i in range(len(aayushma_interests2)):
    aayushma_interests2_dict[aayushma_interests2.index[i]]= str(aayushma_interests2[i])
    
aayushma_interests2_dict

{'id': '4',
 'hobbies': 'Eating',
 'location': 'Anywhere',
 'most_famous_person': 'Guy Fieri',
 'skill_level_required': '1',
 'risk_factor': '8',
 'category': 'Leisure'}

In [52]:
artists.head()

,id,name,monthly_listens,hometown_id,age,net_worth,most_popular_song,interest_id
0,1,Taylor Swift,42961049,Reading,31,"400,000,000",Shake It Off,Playing guitar
1,2,HAIM,5493993,Los Angeles,35,"5,000,000",The Wire,Playing guitar
2,3,Amy Winehouse,11016435,London,27,"5,000,000",Back to Black,Playing guitar
3,4,Florence + the Machine,10407322,London,34,"28,000,000",Dog Days are Over,Reading
4,5,Chase Atlantic,6279620,Cairns,24,"7,300,000",Friends,Skating

In [54]:
aayushma_artist = artists.iloc[0]
aayushma_artist_dict = {}

for i in range(len(aayushma_artist)):
    aayushma_artist_dict[aayushma_artist.index[i]]= str(aayushma_artist[i])
    
aayushma_artist_dict

{'id': '1',
 'name': 'Taylor Swift',
 'monthly_listens': '42961049',
 'hometown_id': 'Reading',
 'age': '31',
 'net_worth': '400,000,000',
 'most_popular_song': 'Shake It Off',
 'interest_id': 'Playing guitar'}

In [55]:
aayushma_artist = artists.iloc[0]
aayushma_artist_dict = {}

for i in range(len(aayushma_artist)):
    aayushma_artist_dict[aayushma_artist.index[i]]= str(aayushma_artist[i])
    
aayushma_artist_dict

{'id': '1',
 'name': 'Taylor Swift',
 'monthly_listens': '42961049',
 'hometown_id': 'Reading',
 'age': '31',
 'net_worth': '400,000,000',
 'most_popular_song': 'Shake It Off',
 'interest_id': 'Playing guitar'}

In [57]:
nest = {}

for i in range(len(aayushma)):
    nest[aayushma.index[i]]= str(aayushma[i])
    
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': 'Fairfax',
 'major': 'Commerce',
 'second_major': 'Public Policy and Leadership',
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [61]:
nest['major']= aayushma_major1_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': 'Fairfax',
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': 'Public Policy and Leadership',
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [62]:
nest['second_major']= aayushma_major2_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': 'Fairfax',
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [66]:
nest["hometown_id"]= aayushma_towns_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [68]:
nest["favorite_hobby_id"]= aayushma_interests1_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '9',
  'hobbies': 'Singing',
  'location': 'Home',
  'most_famous_person': 'Beyonce',
  'skill_level_required': '6',
  'risk_factor': '1',
  'category': 'Art'},
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [69]:
nest["favorite_hobby_id"]= aayushma_interests2_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '4',
  'hobbies': 'Eating',
  'location': 'Anywhere',
  'most_famous_person': 'Guy Fieri',
  'skill_level_required': '1',
  'risk_factor': '8',
  'category': 'Leisure'},
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [70]:
nest["fav_artist_id"]= aayushma_artist_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '4',
  'hobbies': 'Eating',
  'location': 'Anywhere',
  'most_famous_person': 'Guy Fieri',
  'skill_level_required': '1',
  'risk_factor': '8',
  'category': 'Leisure'},
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': {'id': '1',
  'name': 'Taylor Swift',
  'monthly_listens': '42961049',
  'hometown_id': 'Reading',
  'age': '31',
  'net_worth': '400,000,000',
  'most_popular_song': 'Shake It Off',
  'interest_id': 'Playing guitar'}}

In [71]:
collection.insert_one(nest)