In [38]:
!pip install pymongo
import pandas as pd
import pymongo
from pymongo import MongoClient

Requirement already satisfied: pymongo in c:\users\student\anaconda3\lib\site-packages (3.11.4)

In [39]:
client = MongoClient('localhost', 27017)

In [40]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [41]:
db = client.Cannon

In [42]:
people = pd.read_csv("Project_2_Data/People.csv")

In [43]:
people.head()

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [44]:
artists = pd.read_csv("Project_2_Data/Artists.csv")
interests = pd.read_csv("Project_2_Data/Interests.csv")
majors = pd.read_csv("Project_2_Data/Majors.csv")
music = pd.read_csv("Project_2_Data/Music.csv")
towns = pd.read_csv("Project_2_Data/Towns.csv")

In [45]:
collection = db.people

In [46]:
cannon = people.iloc[1]

In [47]:
cannon

id                                              2
first_name                                 Cannon
last_name                                   Johns
graduation_year                              2024
age                                            18
number_of_family_members                        3
fav_color                                    blue
fav_animal                                giraffe
fav_tv_show                  Arrested Development
fav_movie                               Star Wars
beach_or_mtns                               beach
fav_icecream                       salted caramel
hometown_id                          Philadelphia
major                       Computer Science (BA)
second_major                             Commerce
minor                                         NaN
favorite_hobby_id                         Surfing
second_favorite_hobby_id                  Skating
fav_artist_id                        Hippo Campus
Name: 1, dtype: object

In [48]:
majors.head()

,id,major,number_of_classes,school,credits,avg_start_salary,application_based,graduation_honors_gpa
0,1,Mechanical Engineering,40,Engineering,115,"60,000",False,3.4
1,2,Computer Science (BA),38,Arts and Sciences,112,"68,600",False,3.6
2,3,Computer Science (BS),38,Engineering,112,"68,600",False,3.4
3,4,Commerce,36,McIntire,108,"62,905",True,3.8
4,5,Public Policy and Leadership,37,Batten,110,"49,380",True,3.4

In [49]:
cannon_major_1_dic = {}
cannon_major_1 = majors.iloc[1]
for i in range(len(cannon_major_1)):
    cannon_major_1_dic[cannon_major_1.index[i]] = str(cannon_major_1[i])

In [50]:
cannon_major_1_dic

{'id': '2',
 'major': 'Computer Science (BA)',
 'number_of_classes': '38',
 'school': 'Arts and Sciences',
 'credits': '112',
 'avg_start_salary': '68,600',
 'application_based': 'False',
 'graduation_honors_gpa': '3.6'}

In [51]:
cannon_major_2_dic = {}
cannon_major_2 = majors.iloc[3]
for i in range(len(cannon_major_1)):
    cannon_major_2_dic[cannon_major_2.index[i]] = str(cannon_major_2[i])
cannon_major_2_dic

{'id': '4',
 'major': 'Commerce',
 'number_of_classes': '36',
 'school': 'McIntire',
 'credits': '108',
 'avg_start_salary': '62,905',
 'application_based': 'True',
 'graduation_honors_gpa': '3.8'}

In [52]:
towns.head()

,id,town,county,state,country,population,zipcode,area_code
0,1,Philadelphia,Philadelphia,Pennsylvania,USA,1579000,19019,215
1,2,Springfield,Fairfax,Virginia,USA,32222,22153,703
2,3,Reading,Berks,Pennsylvania,USA,88232,19601,671
3,4,Burke,Fairfax,Virginia,USA,41055,22015,703
4,5,Mt Olympus,NaN,NaN,Greece,7103,84109,344

In [53]:
cannon_hometown_dic = {}
cannon_hometown = towns.iloc[0]
for i in range(len(cannon_hometown)):
    cannon_hometown_dic[cannon_hometown.index[i]] = str(cannon_hometown[i])
cannon_hometown_dic

{'id': '1',
 'town': 'Philadelphia',
 'county': 'Philadelphia',
 'state': 'Pennsylvania',
 'country': 'USA',
 'population': '1579000',
 'zipcode': '19019',
 'area_code': '215'}

In [54]:
interests.head()

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure

In [55]:
cannon_interest_1_dic = {}
cannon_interest_1 = interests.iloc[0]
for i in range(len(cannon_interest_1)):
    cannon_interest_1_dic[cannon_interest_1.index[i]] = str(cannon_interest_1[i])
cannon_interest_1_dic

{'id': '1',
 'hobbies': 'Surfing',
 'location': 'Beach',
 'most_famous_person': 'Shaun White',
 'skill_level_required': '9',
 'risk_factor': '9',
 'category': 'Sport'}

In [56]:
cannon_interest_2_dic = {}
cannon_interest_2 = interests.iloc[7]
for i in range(len(cannon_interest_2)):
    cannon_interest_2_dic[cannon_interest_2.index[i]] = str(cannon_interest_2[i])
cannon_interest_2_dic

{'id': '8',
 'hobbies': 'Skating',
 'location': 'Skate Park',
 'most_famous_person': 'Tony Hawk',
 'skill_level_required': '8',
 'risk_factor': '9',
 'category': 'Sport'}

In [57]:
cannon_artist_dic = {}
cannon_artist = artists.iloc[22]
for i in range(len(cannon_artist)):
    cannon_artist_dic[cannon_artist.index[i]] = str(cannon_artist[i])
cannon_artist_dic

{'id': '24',
 'name': 'Hippo Campus',
 'monthly_listens': '2744585',
 'hometown_id': 'Saint Paul',
 'age': '27',
 'net_worth': '21,000,000',
 'most_popular_song': 'Buttercup',
 'interest_id': 'Skating'}

In [58]:
nest = {}
for i in range(len(cannon)):
    nest[cannon.index[i]] = str(cannon[i])
nest

{'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': 'Philadelphia',
 'major': 'Computer Science (BA)',
 'second_major': 'Commerce',
 'minor': 'nan',
 'favorite_hobby_id': 'Surfing',
 'second_favorite_hobby_id': 'Skating',
 'fav_artist_id': 'Hippo Campus'}

In [59]:
nest['major'] = cannon_major_1_dic

In [60]:
nest

{'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': 'Philadelphia',
 'major': {'id': '2',
  'major': 'Computer Science (BA)',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '112',
  'avg_start_salary': '68,600',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'second_major': 'Commerce',
 'minor': 'nan',
 'favorite_hobby_id': 'Surfing',
 'second_favorite_hobby_id': 'Skating',
 'fav_artist_id': 'Hippo Campus'}

In [61]:
nest['second_major'] = cannon_major_2_dic
nest['hometown_id'] = cannon_hometown_dic
nest['favorite_hobby_id'] = cannon_interest_1_dic
nest['second_favorite_hobby_id'] = cannon_interest_2_dic
nest['fav_artist_id'] = cannon_artist_dic

In [62]:
nest

{'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': {'id': '1',
  'town': 'Philadelphia',
  'county': 'Philadelphia',
  'state': 'Pennsylvania',
  'country': 'USA',
  'population': '1579000',
  'zipcode': '19019',
  'area_code': '215'},
 'major': {'id': '2',
  'major': 'Computer Science (BA)',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '112',
  'avg_start_salary': '68,600',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'second_major': {'id': '4',
  'major': 'Commerce',
  'number_of_classes': '36',
  'school': 'McIntire',
  'credits': '108',
  'avg_start_salary': '62,905',
  'application_based': 'True',
  'graduation_honors_gpa': '3.8'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '1',
  'hobbies': 'Surfing',
  'location': 'Beach',
  'most_famous_person': 'Shaun White',
  'skill_level_required': '9',
  'risk_factor': '9',
  'category': 'Sport'},
 'second_favorite_hobby_id': {'id': '8',
  'hobbies': 'Skating',
  'location': 'Skate Park',
  'most_famous_person': 'Tony Hawk',
  'skill_level_required': '8',
  'risk_factor': '9',
  'category': 'Sport'},
 'fav_artist_id': {'id': '24',
  'name': 'Hippo Campus',
  'monthly_listens': '2744585',
  'hometown_id': 'Saint Paul',
  'age': '27',
  'net_worth': '21,000,000',
  'most_popular_song': 'Buttercup',
  'interest_id': 'Skating'}}

In [63]:
collection.insert_one(nest)