Project 2 Code for Neo_4J
Author: Matthew Nicklas, Serene, Aayushma and Cannon
Data comes from self populated csvs with information about ourselves

In [5]:
!pip install py2neo

Requirement already satisfied: py2neo in c:\users\mnick\anaconda3\lib\site-packages (2021.1.3)
Requirement already satisfied: neotime~=1.7.4 in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (1.7.4)
Requirement already satisfied: certifi in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (2020.6.20)
Requirement already satisfied: pytz in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (2020.1)
Requirement already satisfied: packaging in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (20.4)
Requirement already satisfied: prompt-toolkit>=2.0.7; python_version >= "3.6" in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (3.0.5)
Requirement already satisfied: cryptography in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (2.9.2)
Requirement already satisfied: monotonic in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (1.6)
Requirement already satisfied: pansi>=2020.7.3 in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (2020.7.3)
Requirement already satisfied: urllib3 in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (1.25.9)
Requirement already satisfied: pygments>=2.0.0 in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (2.6.1)
Requirement already satisfied: six>=1.15.0 in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (1.15.0)
Requirement already satisfied: english in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (2020.7.0)
Requirement already satisfied: docker in c:\users\mnick\anaconda3\lib\site-packages (from py2neo) (5.0.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\mnick\anaconda3\lib\site-packages (from packaging->py2neo) (2.4.7)
Requirement already satisfied: wcwidth in c:\users\mnick\anaconda3\lib\site-packages (from prompt-toolkit>=2.0.7; python_version >= "3.6"->py2neo) (0.2.5)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\users\mnick\anaconda3\lib\site-packages (from cryptography->py2neo) (1.14.0)
Requirement already satisfied: pywin32==227; sys_platform == "win32" in c:\users\mnick\anaconda3\lib\site-packages (from docker->py2neo) (227)
Requirement already satisfied: websocket-client>=0.32.0 in c:\users\mnick\anaconda3\lib\site-packages (from docker->py2neo) (1.0.1)
Requirement already satisfied: requests!=2.18.0,>=2.14.2 in c:\users\mnick\anaconda3\lib\site-packages (from docker->py2neo) (2.24.0)
Requirement already satisfied: pycparser in c:\users\mnick\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography->py2neo) (2.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mnick\anaconda3\lib\site-packages (from requests!=2.18.0,>=2.14.2->docker->py2neo) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\mnick\anaconda3\lib\site-packages (from requests!=2.18.0,>=2.14.2->docker->py2neo) (3.0.4)

In [2]:
import py2neo

In [3]:
from py2neo import Graph

In [4]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))

In [5]:
type(graph)

py2neo.database.Graph

In [84]:
#Delete all observations 
graph.run("MATCH (n) DETACH DELETE n")

(No data)

In [ ]:
#graph.run("MATCH (n) RETURN n")

In [7]:
import pandas as pd

In [73]:
interests = pd.read_csv('Project_2_Data/interests.csv')

In [74]:
interests.head()

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure

In [10]:
for i in range(len(interests)):
    row = interests.iloc[i]
    print("CREATE (:HOBBIES {hobbies:'" + row['hobbies'] + "',location:'" + row['location'] + "',most_famous_person:'" + 
          row['most_famous_person']+ "',skill_level_required:" + str(row['skill_level_required']) +
         ",risk_factor:" + str(row['risk_factor']) + ",category:'" + row['category']+ "'")

CREATE (:HOBBIES {hobbies:'Surfing',location:'Beach',most_famous_person:'Shaun White',skill_level_required:9,risk_factor:9,category:'Sport'
CREATE (:HOBBIES {hobbies:'Frisbee golf',location:'Forest',most_famous_person:'Paul McBeth',skill_level_required:6,risk_factor:4,category:'Sport'
CREATE (:HOBBIES {hobbies:'Board games ',location:'Home',most_famous_person:'Monopoly Man',skill_level_required:3,risk_factor:2,category:'Leisure'
CREATE (:HOBBIES {hobbies:'Eating',location:'Anywhere',most_famous_person:'Guy Fieri',skill_level_required:1,risk_factor:8,category:'Leisure'
CREATE (:HOBBIES {hobbies:'Video games',location:'Home',most_famous_person:'PewDiePie',skill_level_required:5,risk_factor:2,category:'Leisure'
CREATE (:HOBBIES {hobbies:'Reading',location:'Home',most_famous_person:'Morgan Freeman',skill_level_required:2,risk_factor:1,category:'Leisure'
CREATE (:HOBBIES {hobbies:'Playing guitar',location:'Home',most_famous_person:'Jimi Hendrix',skill_level_required:6,risk_factor:2,category:'Art'
CREATE (:HOBBIES {hobbies:'Skating',location:'Skate Park',most_famous_person:'Tony Hawk',skill_level_required:8,risk_factor:9,category:'Sport'
CREATE (:HOBBIES {hobbies:'Singing',location:'Home',most_famous_person:'Beyonce',skill_level_required:6,risk_factor:1,category:'Art'
CREATE (:HOBBIES {hobbies:'Tennis',location:'Tennis Court',most_famous_person:'Roger Federer',skill_level_required:7,risk_factor:5,category:'Sport'
CREATE (:HOBBIES {hobbies:'Sleeping',location:'Home',most_famous_person:'Snorlax',skill_level_required:2,risk_factor:1,category:'Leisure'

In [85]:
for i in range(len(interests)):
    row = interests.iloc[i]
    graph.run("CREATE (:Interests {hobbies:'" + row['hobbies'] + "',location:'" + row['location'] + "',most_famous_person:'" + 
          row['most_famous_person']+ "',skill_level_required:" + str(row['skill_level_required']) +
         ",risk_factor:" + str(row['risk_factor']) + ",category:'" + row['category']+ "'})")

In [75]:
#Add the dataframe for the artists same way we did interests 
artists = pd.read_csv('Project_2_Data/artists.csv')

In [76]:
artists.head()

,id,name,monthly_listens,hometown_id,age,net_worth,most_popular_song,interest_id
0,1,Taylor Swift,42961049,Reading,31,"400,000,000",Shake It Off,Playing guitar
1,2,HAIM,5493993,Los Angeles,35,"5,000,000",The Wire,Playing guitar
2,3,Amy Winehouse,11016435,London,27,"5,000,000",Back to Black,Playing guitar
3,4,Florence + the Machine,10407322,London,34,"28,000,000",Dog Days are Over,Reading
4,5,Chase Atlantic,6279620,Cairns,24,"7,300,000",Friends,Skating

In [77]:
from py2neo import Node
from py2neo import Relationship

In [60]:
#Delete all observations 
graph.run("MATCH (n) DETACH DELETE n")

(No data)

In [86]:
#Adding in the nodes for artists
for i in range(len(artists)):
    row = artists.iloc[i]
    artist = Node("Artist", name = row['name'], monthly_listens=str(row['monthly_listens']), 
                  hometown_id = row['hometown_id'], age = str(row['age']), net_worth = str(row['net_worth']), 
                  most_popular_song = row['most_popular_song'], interest_id = row['interest_id'])
    graph.create(artist)

In [66]:
#Read in the rest of the csv files as new dataframes 
music = pd.read_csv('Project_2_Data/music.csv')
majors = pd.read_csv('Project_2_Data/majors.csv')
people = pd.read_csv('Project_2_Data/people.csv')
towns = pd.read_csv('Project_2_Data/towns.csv')

In [78]:
music.head()

,id,song,artist_name,album,genre,release_year
0,1,Shake It Off,Taylor Swift,1989,Pop,2014
1,2,The Wire,HAIM,Days Are Gone,Rock,2013
2,3,Back to Black,Amy Winehouse,Back to Black,R&B/Soul,2006
3,4,Dog Days are Over,Florence and the Machine,Lungs,Alternative,2009
4,5,Friends,Chase Atlantic,Nostalgia,Rock,2015

In [87]:
#Adding in the nodes for music
for i in range(len(music)):
    row = music.iloc[i]
    songs = Node("Song", song = row['song'], artist_name=row['artist_name'], 
                  album = str(row['album']), genre = row['genre'], release_year = str(row['release_year']))
    songs.__primarylabel__ = "Song"
    songs.__primarykey__ = "song"
    graph.create(songs)

In [62]:
majors.head()

,id,major,number_of_classes,school,credits,avg_start_salary,application_based,graduation_honors_gpa
0,1,Mechanical Engineering,40,Engineering,115,"60,000",False,3.4
1,2,Computer Science (BA),38,Arts and Sciences,112,"68,600",False,3.6
2,3,Computer Science (BS),38,Engineering,112,"68,600",False,3.4
3,4,Commerce,36,McIntire,108,"62,905",True,3.8
4,5,Public Policy and Leadership,37,Batten,110,"49,380",True,3.4

In [88]:
#Adding in the nodes for major
for i in range(len(majors)):
    row = majors.iloc[i]
    major = Node("Major", major = row['major'], number_of_classes=str(row['number_of_classes']), 
                  school = row['school'], credits = str(row['credits']), avg_start_salary = str(row['avg_start_salary']),
                application_based = str(row['application_based']), graduation_honors_gpa = str(row['graduation_honors_gpa']))
    graph.create(major)

In [66]:
towns.head()

,id,town,county,state,country,population,zipcode,area_code
0,1,Philadelphia,Philadelphia,Pennsylvania,USA,1579000,19019,215
1,2,Springfield,Fairfax,Virginia,USA,32222,22153,703
2,3,Reading,Berks,Pennsylvania,USA,88232,19601,671
3,4,Burke,Fairfax,Virginia,USA,41055,22015,703
4,5,Mt Olympus,NaN,NaN,Greece,7103,84109,344

In [89]:
for i in range(len(towns)):
    row = towns.iloc[i]
    town = Node("Town", town = row['town'], county=row['county'], state = row['state'], country = row['country'], 
                population = str(row['population']), zipcode = str(row['zipcode']), area_code = str(row['area_code']))
    graph.create(town)

In [88]:
people.head()

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [65]:
people[people.first_name=='Matt'].favorite_hobby_id

0    Board games
Name: favorite_hobby_id, dtype: object

In [90]:
#Adding in the nodes for Person or each of us 
for i in range(len(people)):
    row = people.iloc[i]
    person = Node("Person", first_name = row['first_name'], last_name = row['last_name'], 
                  graduation_year = str(row['graduation_year']), age = str(row['age']), 
                  number_of_family_members = str(row['number_of_family_members']), fav_color = row['fav_color'],
                  fav_animal = row['fav_animal'], fav_tv_show = row['fav_tv_show'], fav_movie = row['fav_movie'], 
                  beach_or_mtns = row['beach_or_mtns'], fav_icecream = row['fav_icecream'], hometown_id = row['hometown_id'],
                  major = row['major'], second_major = row['second_major'], minor = row['minor'], 
                  favorite_hobby_id = row['favorite_hobby_id'], second_favorite_hobby_id = row['second_favorite_hobby_id'],
                  fav_artist_id = row['fav_artist_id'])
    graph.create(person)

In [91]:
#Define the connections between the different tables!!!!! Need to make sure this is right????????
#Looks like you need to have matching column names to make it possible?? which seems wrong to me so I need to research
graph.run("MATCH (n:Person), (m:Major) WHERE n.major = m.major CREATE (n)-[:MAJORED_IN{Credits:m.credits}]->(m)")

(No data)

In [92]:
#Connect the second major to each person!!!!!
graph.run("MATCH (n:Person), (m:Major) WHERE n.second_major = m.major CREATE (n)-[:MAJORED_IN{Credits:m.credits}]->(m)")

#Connect nodes to properties this is for hometown
graph.run("MATCH (n:Person), (m:Town) WHERE n.hometown_id = m.town CREATE (n)-[:HOMETOWN_IS]->(m)")

#Connect nodes of people to hobbies
graph.run("MATCH (n:Person), (m:Interests) WHERE n.favorite_hobby_id = m.hobbies CREATE (n)-[:FAVORITE_HOBBY_IS{RiskFactor:m.risk_factor}]->(m)")

#Connect nodes of people to second favorite hobby 
graph.run("MATCH (n:Person), (m:Interests) WHERE n.second_favorite_hobby_id = m.hobbies CREATE (n)-[:SECOND_FAVORITE_HOBBY_IS{RiskFactor:m.risk_factor}]->(m)")

#Connect nodes of people to favorite artist 
graph.run("MATCH (n:Person), (m:Artist) WHERE n.fav_artist_id = m.name CREATE (n)-[:FAVORITE_ARTIST_IS]->(m)")

(No data)

In [93]:
#Connect nodes of the artist to their songs and hometowns and interests!!! this is going to be fun 
graph.run("MATCH (n:Artist), (m:Song) WHERE n.most_popular_song	 = m.song CREATE (n)-[:MOST_FAMOUS_SONG_IS]->(m)")

#Hometown
graph.run("MATCH (n:Artist), (m:Town) WHERE n.hometown_id = m.town CREATE (n)-[:HOMETOWN_IS]->(m)")

#Interest
graph.run("MATCH (n:Artist), (m:Interests) WHERE n.interest_id = m.hobbies CREATE (n)-[:FAVORITE_HOBBY_IS{RiskFactor:m.risk_factor}]->(m)")

(No data)

In [94]:
#Remove the values
graph.run("MATCH (n:Person) REMOVE n.major, n.second_major, n.hometown_id, n.favorite_hobby_id, n.second_favorite_hobby_id, n.fav_artist_id")

(No data)

In [95]:
#Remove values from the artists portion 
graph.run("MATCH (n:Artist) REMOVE n.most_popular_song, n.hometown_id, n.interest_id")

(No data)

In [96]:
#Remove values from the major that is being used in the relationships themselves
graph.run("MATCH (n:Major) REMOVE n.credits")

(No data)

In [97]:
#Remove the risk factor from hobbies
graph.run("MATCH (n:Hobbies) REMOVE n.risk_factor")

(No data)