In [1]:
!pip install pymongo
import pandas as pd
import pymongo
from pymongo import MongoClient

Collecting pymongo
  Downloading pymongo-3.11.4-cp38-cp38-win_amd64.whl (383 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.4

In [13]:
client = MongoClient('localhost', 27017)

In [14]:
db = client.Matthew #Create a database called "Matthew"

In [17]:
#Create the "people" collection
collection = db.people
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Matthew')

In [16]:
print("hi")

hi

In [20]:
#Read in all the csv files from my local repo
people = pd.read_csv("Project_2_Data/People.csv")
artists = pd.read_csv("Project_2_Data/Artists.csv")
interests = pd.read_csv("Project_2_Data/Interests.csv")
majors = pd.read_csv("Project_2_Data/Majors.csv")
music = pd.read_csv("Project_2_Data/Music.csv")
towns = pd.read_csv("Project_2_Data/Towns.csv")

In [11]:
matthew = people.iloc[0]

In [12]:
matthew

id                                                  1
first_name                                       Matt
last_name                                     Nicklas
graduation_year                                  2018
age                                                25
number_of_family_members                            3
fav_color                                        blue
fav_animal                                      shark
fav_tv_show                                    Dexter
fav_movie                                 Dark Knight
beach_or_mtns                                   beach
fav_icecream                             cookie dough
hometown_id                               Springfield
major                          Mechanical Engineering
second_major                                      NaN
minor                       Environmental Engineering
favorite_hobby_id                         Board games
second_favorite_hobby_id                 Frisbee golf
fav_artist_id                                Coldplay
Name: 0, dtype: object

In [19]:
people.head()

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [24]:
#Creating Dictionary for Matt's major
matthew_major_1_dic = {}
matthew_major_1 = majors.iloc[0]
for i in range(len(matthew_major_1)):
    matthew_major_1_dic[matthew_major_1.index[i]] = str(matthew_major_1[i])

In [25]:
matthew_major_1_dic

{'id': '1',
 'major': 'Mechanical Engineering',
 'number_of_classes': '40',
 'school': 'Engineering',
 'credits': '115',
 'avg_start_salary': '60,000',
 'application_based': 'False',
 'graduation_honors_gpa': '3.4'}

In [28]:
#Creating Dictionary for Matt's major
matthew_major_2_dic = {}
matthew_major_2_dic

{}

In [29]:
#Creating Dictionary for Matt's hometown
matthew_hometown_dic = {}
matthew_hometown = towns.iloc[1]
for i in range(len(matthew_hometown)):
    matthew_hometown_dic[matthew_hometown.index[i]] = str(matthew_hometown[i])

In [30]:
matthew_hometown_dic

{'id': '2',
 'town': 'Springfield',
 'county': 'Fairfax',
 'state': 'Virginia',
 'country': 'USA',
 'population': '32222',
 'zipcode': '22153',
 'area_code': '703'}

In [31]:
interests.head()

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure

In [35]:
#Creating Dictionary for Matt's interests
matthew_interest_dic = {}
matthew_interest = interests.iloc[2]
for i in range(len(matthew_interest)):
    matthew_interest_dic[matthew_interest.index[i]] = str(matthew_interest[i])
    
#Creating Dictionary for Matt's interests
matthew_interest_2_dic = {}
matthew_interest_2 = interests.iloc[1]
for i in range(len(matthew_interest_2)):
    matthew_interest_2_dic[matthew_interest_2.index[i]] = str(matthew_interest_2[i])

In [37]:
matthew_interest_dic

{'id': '3',
 'hobbies': 'Board games ',
 'location': 'Home',
 'most_famous_person': 'Monopoly Man',
 'skill_level_required': '3',
 'risk_factor': '2',
 'category': 'Leisure'}

In [38]:
matthew_interest_2_dic

{'id': '2',
 'hobbies': 'Frisbee golf',
 'location': 'Forest',
 'most_famous_person': 'Paul McBeth',
 'skill_level_required': '6',
 'risk_factor': '4',
 'category': 'Sport'}

In [40]:
artists.head()

,id,name,monthly_listens,hometown_id,age,net_worth,most_popular_song,interest_id
0,1,Taylor Swift,42961049,Reading,31,"400,000,000",Shake It Off,Playing guitar
1,2,HAIM,5493993,Los Angeles,35,"5,000,000",The Wire,Playing guitar
2,3,Amy Winehouse,11016435,London,27,"5,000,000",Back to Black,Playing guitar
3,4,Florence + the Machine,10407322,London,34,"28,000,000",Dog Days are Over,Reading
4,5,Chase Atlantic,6279620,Cairns,24,"7,300,000",Friends,Skating

In [47]:
#Creating Dictionary for Matt's favorite artist 
matthew_artist_dic = {}
matthew_artist = artists.iloc[29]
for i in range(len(matthew_artist)):
    matthew_artist_dic[matthew_artist.index[i]] = str(matthew_artist[i])

In [48]:
matthew_artist_dic

{'id': '31',
 'name': 'Coldplay',
 'monthly_listens': '45445380',
 'hometown_id': 'London',
 'age': '44',
 'net_worth': '475,000,000',
 'most_popular_song': 'Something Just Like This',
 'interest_id': 'Frisbee golf'}

In [49]:
#Create our collection for me 
nest_matthew = {}
for i in range(len(matthew)):
    nest_matthew[matthew.index[i]] = str(matthew[i])
nest_matthew

{'id': '1',
 'first_name': 'Matt',
 'last_name': 'Nicklas',
 'graduation_year': '2018',
 'age': '25',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'shark',
 'fav_tv_show': 'Dexter',
 'fav_movie': 'Dark Knight',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'cookie dough',
 'hometown_id': 'Springfield',
 'major': 'Mechanical Engineering',
 'second_major': 'nan',
 'minor': 'Environmental Engineering',
 'favorite_hobby_id': 'Board games',
 'second_favorite_hobby_id': 'Frisbee golf',
 'fav_artist_id': 'Coldplay'}

In [50]:
nest_matthew['major'] = matthew_major_1_dic
nest_matthew['hometown_id'] = matthew_hometown_dic
nest_matthew['favorite_hobby_id'] = matthew_interest_dic
nest_matthew['second_favorite_hobby_id'] = matthew_interest_2_dic
nest_matthew['fav_artist_id'] = matthew_artist_dic

In [51]:
nest_matthew

{'id': '1',
 'first_name': 'Matt',
 'last_name': 'Nicklas',
 'graduation_year': '2018',
 'age': '25',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'shark',
 'fav_tv_show': 'Dexter',
 'fav_movie': 'Dark Knight',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'cookie dough',
 'hometown_id': {'id': '2',
  'town': 'Springfield',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '32222',
  'zipcode': '22153',
  'area_code': '703'},
 'major': {'id': '1',
  'major': 'Mechanical Engineering',
  'number_of_classes': '40',
  'school': 'Engineering',
  'credits': '115',
  'avg_start_salary': '60,000',
  'application_based': 'False',
  'graduation_honors_gpa': '3.4'},
 'second_major': 'nan',
 'minor': 'Environmental Engineering',
 'favorite_hobby_id': {'id': '3',
  'hobbies': 'Board games ',
  'location': 'Home',
  'most_famous_person': 'Monopoly Man',
  'skill_level_required': '3',
  'risk_factor': '2',
  'category': 'Leisure'},
 'second_favorite_hobby_id': {'id': '2',
  'hobbies': 'Frisbee golf',
  'location': 'Forest',
  'most_famous_person': 'Paul McBeth',
  'skill_level_required': '6',
  'risk_factor': '4',
  'category': 'Sport'},
 'fav_artist_id': {'id': '31',
  'name': 'Coldplay',
  'monthly_listens': '45445380',
  'hometown_id': 'London',
  'age': '44',
  'net_worth': '475,000,000',
  'most_popular_song': 'Something Just Like This',
  'interest_id': 'Frisbee golf'}}

In [52]:
collection.insert_one(nest_matthew)